In [1]:
import darkwing as dw

def foo(rel, res=6):
    return (rel
    | 'select pickup_latitude as lat, pickup_longitude as lng, tip_amount'       
    | f'select h3_latlng_to_cell(lat, lng, {res}) as hexid, tip_amount as tip'
    | 'select hexid, avg(tip) as tip group by 1'
    | 'select h3_h3_to_string(hexid) as hexid, tip'
    | 'where tip > 0'
    )

In [2]:
# dw.Table('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2010-01.parquet')
dw.Table('data/yellow_tripdata_2010-01.parquet')

┌───────────┬─────────────────────┬─────────────────────┬───┬────────────┬──────────────┬──────────────┐
│ vendor_id │   pickup_datetime   │  dropoff_datetime   │ … │ tip_amount │ tolls_amount │ total_amount │
│  varchar  │       varchar       │       varchar       │   │   double   │    double    │    double    │
├───────────┼─────────────────────┼─────────────────────┼───┼────────────┼──────────────┼──────────────┤
│ VTS       │ 2010-01-26 07:41:00 │ 2010-01-26 07:45:00 │ … │        0.0 │          0.0 │          5.0 │
│ DDS       │ 2010-01-30 23:31:00 │ 2010-01-30 23:46:12 │ … │        0.0 │          0.0 │         16.3 │
│ DDS       │ 2010-01-18 20:22:20 │ 2010-01-18 20:38:12 │ … │        0.0 │          0.0 │         12.7 │
│ VTS       │ 2010-01-09 01:18:00 │ 2010-01-09 01:35:00 │ … │        0.0 │          0.0 │         14.3 │
│ CMT       │ 2010-01-18 19:10:14 │ 2010-01-18 19:17:07 │ … │       0.87 │          0.0 │         6.67 │
│ DDS       │ 2010-01-23 18:40:25 │ 2010-01-23 18:54:51 │ … │        1.0 │          0.0 │         12.0 │
│ VTS       │ 2010-01-17 09:18:00 │ 2010-01-17 09:25:00 │ … │        0.0 │          0.0 │          6.6 │
│ VTS       │ 2010-01-09 13:49:00 │ 2010-01-09 13:56:00 │ … │        0.0 │          0.0 │          7.4 │
│ VTS       │ 2010-01-09 00:25:00 │ 2010-01-09 00:39:00 │ … │        0.0 │          0.0 │         12.3 │
│ VTS       │ 2010-01-27 18:15:00 │ 2010-01-27 18:29:00 │ … │        2.0 │          0.0 │         12.0 │
│  ·        │          ·          │          ·          │ · │         ·  │           ·  │           ·  │
│  ·        │          ·          │          ·          │ · │         ·  │           ·  │           ·  │
│  ·        │          ·          │          ·          │ · │         ·  │           ·  │           ·  │
│ CMT       │ 2010-01-29 10:10:30 │ 2010-01-29 10:16:54 │ … │       1.32 │          0.0 │         7.92 │
│ CMT       │ 2010-01-04 20:25:15 │ 2010-01-04 20:46:17 │ … │       4.06 │          0.0 │        24.36 │
│ VTS       │ 2010-01-07 17:57:00 │ 2010-01-07 18:07:00 │ … │        0.0 │          0.0 │          9.6 │
│ VTS       │ 2010-01-08 00:08:00 │ 2010-01-08 00:22:00 │ … │        1.5 │          0.0 │         12.6 │
│ CMT       │ 2010-01-31 20:36:38 │ 2010-01-31 20:58:12 │ … │        3.0 │          0.0 │         21.7 │
│ CMT       │ 2010-01-16 11:03:42 │ 2010-01-16 11:14:46 │ … │        0.0 │          0.0 │          9.0 │
│ CMT       │ 2010-01-05 08:56:30 │ 2010-01-05 09:04:29 │ … │        0.0 │          0.0 │          6.6 │
│ CMT       │ 2010-01-08 08:40:48 │ 2010-01-08 09:04:44 │ … │        2.0 │          0.0 │         21.8 │
│ CMT       │ 2010-01-08 07:06:21 │ 2010-01-08 07:13:34 │ … │        0.0 │          0.0 │          7.0 │
│ VTS       │ 2010-01-09 03:09:00 │ 2010-01-09 03:18:00 │ … │        0.0 │          0.0 │         10.7 │
├───────────┴─────────────────────┴─────────────────────┴───┴────────────┴──────────────┴──────────────┤
│ ? rows (>9999 rows, 20 shown)                                                   18 columns (6 shown) │
└──────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [3]:
# out = dw.query('select * from "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2010-01.parquet"')

In [4]:
# dw.Table('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2010-01.parquet')

In [5]:
rel1 = dw.Table('data/yellow_tripdata_2010-01.parquet') # lazy load!
rel2 = dw.Table('data/yellow_tripdata_2010-02.parquet') # lazy load!

In [6]:
rel1

┌───────────┬─────────────────────┬─────────────────────┬───┬────────────┬──────────────┬──────────────┐
│ vendor_id │   pickup_datetime   │  dropoff_datetime   │ … │ tip_amount │ tolls_amount │ total_amount │
│  varchar  │       varchar       │       varchar       │   │   double   │    double    │    double    │
├───────────┼─────────────────────┼─────────────────────┼───┼────────────┼──────────────┼──────────────┤
│ VTS       │ 2010-01-26 07:41:00 │ 2010-01-26 07:45:00 │ … │        0.0 │          0.0 │          5.0 │
│ DDS       │ 2010-01-30 23:31:00 │ 2010-01-30 23:46:12 │ … │        0.0 │          0.0 │         16.3 │
│ DDS       │ 2010-01-18 20:22:20 │ 2010-01-18 20:38:12 │ … │        0.0 │          0.0 │         12.7 │
│ VTS       │ 2010-01-09 01:18:00 │ 2010-01-09 01:35:00 │ … │        0.0 │          0.0 │         14.3 │
│ CMT       │ 2010-01-18 19:10:14 │ 2010-01-18 19:17:07 │ … │       0.87 │          0.0 │         6.67 │
│ DDS       │ 2010-01-23 18:40:25 │ 2010-01-23 18:54:51 │ … │        1.0 │          0.0 │         12.0 │
│ VTS       │ 2010-01-17 09:18:00 │ 2010-01-17 09:25:00 │ … │        0.0 │          0.0 │          6.6 │
│ VTS       │ 2010-01-09 13:49:00 │ 2010-01-09 13:56:00 │ … │        0.0 │          0.0 │          7.4 │
│ VTS       │ 2010-01-09 00:25:00 │ 2010-01-09 00:39:00 │ … │        0.0 │          0.0 │         12.3 │
│ VTS       │ 2010-01-27 18:15:00 │ 2010-01-27 18:29:00 │ … │        2.0 │          0.0 │         12.0 │
│  ·        │          ·          │          ·          │ · │         ·  │           ·  │           ·  │
│  ·        │          ·          │          ·          │ · │         ·  │           ·  │           ·  │
│  ·        │          ·          │          ·          │ · │         ·  │           ·  │           ·  │
│ CMT       │ 2010-01-29 10:10:30 │ 2010-01-29 10:16:54 │ … │       1.32 │          0.0 │         7.92 │
│ CMT       │ 2010-01-04 20:25:15 │ 2010-01-04 20:46:17 │ … │       4.06 │          0.0 │        24.36 │
│ VTS       │ 2010-01-07 17:57:00 │ 2010-01-07 18:07:00 │ … │        0.0 │          0.0 │          9.6 │
│ VTS       │ 2010-01-08 00:08:00 │ 2010-01-08 00:22:00 │ … │        1.5 │          0.0 │         12.6 │
│ CMT       │ 2010-01-31 20:36:38 │ 2010-01-31 20:58:12 │ … │        3.0 │          0.0 │         21.7 │
│ CMT       │ 2010-01-16 11:03:42 │ 2010-01-16 11:14:46 │ … │        0.0 │          0.0 │          9.0 │
│ CMT       │ 2010-01-05 08:56:30 │ 2010-01-05 09:04:29 │ … │        0.0 │          0.0 │          6.6 │
│ CMT       │ 2010-01-08 08:40:48 │ 2010-01-08 09:04:44 │ … │        2.0 │          0.0 │         21.8 │
│ CMT       │ 2010-01-08 07:06:21 │ 2010-01-08 07:13:34 │ … │        0.0 │          0.0 │          7.0 │
│ VTS       │ 2010-01-09 03:09:00 │ 2010-01-09 03:18:00 │ … │        0.0 │          0.0 │         10.7 │
├───────────┴─────────────────────┴─────────────────────┴───┴────────────┴──────────────┴──────────────┤
│ ? rows (>9999 rows, 20 shown)                                                   18 columns (6 shown) │
└──────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [7]:
rel1 >> 'select arbitrary(columns(*))' >> dict

{'vendor_id': 'VTS',
 'pickup_datetime': '2010-01-22 18:42:00',
 'dropoff_datetime': '2010-01-22 19:02:00',
 'passenger_count': np.int64(5),
 'trip_distance': np.float64(6.17),
 'pickup_longitude': np.float64(-73.950947),
 'pickup_latitude': np.float64(40.779223),
 'rate_code': '1',
 'store_and_fwd_flag': None,
 'dropoff_longitude': np.float64(-73.987053),
 'dropoff_latitude': np.float64(40.72531),
 'payment_type': 'CAS',
 'fare_amount': np.float64(17.3),
 'surcharge': np.float64(1.0),
 'mta_tax': np.float64(0.5),
 'tip_amount': np.float64(0.0),
 'tolls_amount': np.float64(0.0),
 'total_amount': np.float64(18.8)}

In [8]:
rel1 >> 'select count()' >> int

14863778

In [9]:
# TODO: why isn't this lazy?
# rel3 = 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2010-01.parquet' >> dw.load

In [10]:
rel4 = 'data/yellow_tripdata_2010-01.parquet' >> dw.Table
rel4

┌───────────┬─────────────────────┬─────────────────────┬───┬────────────┬──────────────┬──────────────┐
│ vendor_id │   pickup_datetime   │  dropoff_datetime   │ … │ tip_amount │ tolls_amount │ total_amount │
│  varchar  │       varchar       │       varchar       │   │   double   │    double    │    double    │
├───────────┼─────────────────────┼─────────────────────┼───┼────────────┼──────────────┼──────────────┤
│ VTS       │ 2010-01-26 07:41:00 │ 2010-01-26 07:45:00 │ … │        0.0 │          0.0 │          5.0 │
│ DDS       │ 2010-01-30 23:31:00 │ 2010-01-30 23:46:12 │ … │        0.0 │          0.0 │         16.3 │
│ DDS       │ 2010-01-18 20:22:20 │ 2010-01-18 20:38:12 │ … │        0.0 │          0.0 │         12.7 │
│ VTS       │ 2010-01-09 01:18:00 │ 2010-01-09 01:35:00 │ … │        0.0 │          0.0 │         14.3 │
│ CMT       │ 2010-01-18 19:10:14 │ 2010-01-18 19:17:07 │ … │       0.87 │          0.0 │         6.67 │
│ DDS       │ 2010-01-23 18:40:25 │ 2010-01-23 18:54:51 │ … │        1.0 │          0.0 │         12.0 │
│ VTS       │ 2010-01-17 09:18:00 │ 2010-01-17 09:25:00 │ … │        0.0 │          0.0 │          6.6 │
│ VTS       │ 2010-01-09 13:49:00 │ 2010-01-09 13:56:00 │ … │        0.0 │          0.0 │          7.4 │
│ VTS       │ 2010-01-09 00:25:00 │ 2010-01-09 00:39:00 │ … │        0.0 │          0.0 │         12.3 │
│ VTS       │ 2010-01-27 18:15:00 │ 2010-01-27 18:29:00 │ … │        2.0 │          0.0 │         12.0 │
│  ·        │          ·          │          ·          │ · │         ·  │           ·  │           ·  │
│  ·        │          ·          │          ·          │ · │         ·  │           ·  │           ·  │
│  ·        │          ·          │          ·          │ · │         ·  │           ·  │           ·  │
│ CMT       │ 2010-01-29 10:10:30 │ 2010-01-29 10:16:54 │ … │       1.32 │          0.0 │         7.92 │
│ CMT       │ 2010-01-04 20:25:15 │ 2010-01-04 20:46:17 │ … │       4.06 │          0.0 │        24.36 │
│ VTS       │ 2010-01-07 17:57:00 │ 2010-01-07 18:07:00 │ … │        0.0 │          0.0 │          9.6 │
│ VTS       │ 2010-01-08 00:08:00 │ 2010-01-08 00:22:00 │ … │        1.5 │          0.0 │         12.6 │
│ CMT       │ 2010-01-31 20:36:38 │ 2010-01-31 20:58:12 │ … │        3.0 │          0.0 │         21.7 │
│ CMT       │ 2010-01-16 11:03:42 │ 2010-01-16 11:14:46 │ … │        0.0 │          0.0 │          9.0 │
│ CMT       │ 2010-01-05 08:56:30 │ 2010-01-05 09:04:29 │ … │        0.0 │          0.0 │          6.6 │
│ CMT       │ 2010-01-08 08:40:48 │ 2010-01-08 09:04:44 │ … │        2.0 │          0.0 │         21.8 │
│ CMT       │ 2010-01-08 07:06:21 │ 2010-01-08 07:13:34 │ … │        0.0 │          0.0 │          7.0 │
│ VTS       │ 2010-01-09 03:09:00 │ 2010-01-09 03:18:00 │ … │        0.0 │          0.0 │         10.7 │
├───────────┴─────────────────────┴─────────────────────┴───┴────────────┴──────────────┴──────────────┤
│ ? rows (>9999 rows, 20 shown)                                                   18 columns (6 shown) │
└──────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [11]:
rel1 | foo

┌─────────────────┬────────────────────┐
│      hexid      │        tip         │
│     varchar     │       double       │
├─────────────────┼────────────────────┤
│ 862a100dfffffff │ 0.7357423387749517 │
│ 862a107a7ffffff │  1.127076780758557 │
│ 862a1046fffffff │  2.629748110831234 │
│ 862a103a7ffffff │ 1.8788675213675212 │
│ 862a1015fffffff │  4.147971014492754 │
│ 862a10457ffffff │  4.667999999999999 │
│ 862a1054fffffff │ 1.9489696969696968 │
│ 862a104e7ffffff │              2.625 │
│ 862a102afffffff │ 0.6745283018867925 │
│ 862a1038fffffff │ 1.7195959595959593 │
│        ·        │                 ·  │
│        ·        │                 ·  │
│        ·        │                 ·  │
│ 862a13067ffffff │               15.0 │
│ 862aa08c7ffffff │                1.0 │
│ 862a13c0fffffff │                2.5 │
│ 862a35397ffffff │              11.05 │
│ 862aa5c8fffffff │ 0.3333333333333333 │
│ 862aab48fffffff │                2.0 │
│ 863935577ffffff │                2.0 │
│ 862a1212fffffff │               7.98 │
│ 862a152a7ffffff │                3.0 │
│ 862a13887ffffff │                1.0 │
├─────────────────┴────────────────────┤
│ 850 rows (20 shown)        2 columns │
└──────────────────────────────────────┘

In [12]:
out = dw.Database(
    rel1 = rel1 >> foo,
    rel2 = rel2 >> foo,
)
out

Database:
    rel1: 850 x ['hexid', 'tip']
    rel2: 731 x ['hexid', 'tip']

In [13]:
out = dw.Database(
    rel1 = rel1 >> foo,
    rel2 = rel2 >> foo,
) | """
select
    hexid,
    rel1.tip
        as tip1,
    rel2.tip
        as tip2,
from rel1
full outer join rel2
using (hexid)
"""

(out
| 'where tip1 is not null and tip2 is not null'
| 'select *, tip1-tip2 as diff order by diff'
) >> 'as bam' # precedence rules!

Database:
    bam: 371 x ['hexid', 'tip1', 'tip2', 'diff']

In [14]:
rel1 = dw.Table('data/yellow_tripdata_2010-01.parquet')

In [15]:
rel1.rel

┌───────────┬─────────────────────┬─────────────────────┬───┬────────────┬──────────────┬──────────────┐
│ vendor_id │   pickup_datetime   │  dropoff_datetime   │ … │ tip_amount │ tolls_amount │ total_amount │
│  varchar  │       varchar       │       varchar       │   │   double   │    double    │    double    │
├───────────┼─────────────────────┼─────────────────────┼───┼────────────┼──────────────┼──────────────┤
│ VTS       │ 2010-01-26 07:41:00 │ 2010-01-26 07:45:00 │ … │        0.0 │          0.0 │          5.0 │
│ DDS       │ 2010-01-30 23:31:00 │ 2010-01-30 23:46:12 │ … │        0.0 │          0.0 │         16.3 │
│ DDS       │ 2010-01-18 20:22:20 │ 2010-01-18 20:38:12 │ … │        0.0 │          0.0 │         12.7 │
│ VTS       │ 2010-01-09 01:18:00 │ 2010-01-09 01:35:00 │ … │        0.0 │          0.0 │         14.3 │
│ CMT       │ 2010-01-18 19:10:14 │ 2010-01-18 19:17:07 │ … │       0.87 │          0.0 │         6.67 │
│ DDS       │ 2010-01-23 18:40:25 │ 2010-01-23 18:54:51 │ … │        1.0 │          0.0 │         12.0 │
│ VTS       │ 2010-01-17 09:18:00 │ 2010-01-17 09:25:00 │ … │        0.0 │          0.0 │          6.6 │
│ VTS       │ 2010-01-09 13:49:00 │ 2010-01-09 13:56:00 │ … │        0.0 │          0.0 │          7.4 │
│ VTS       │ 2010-01-09 00:25:00 │ 2010-01-09 00:39:00 │ … │        0.0 │          0.0 │         12.3 │
│ VTS       │ 2010-01-27 18:15:00 │ 2010-01-27 18:29:00 │ … │        2.0 │          0.0 │         12.0 │
│  ·        │          ·          │          ·          │ · │         ·  │           ·  │           ·  │
│  ·        │          ·          │          ·          │ · │         ·  │           ·  │           ·  │
│  ·        │          ·          │          ·          │ · │         ·  │           ·  │           ·  │
│ CMT       │ 2010-01-29 10:10:30 │ 2010-01-29 10:16:54 │ … │       1.32 │          0.0 │         7.92 │
│ CMT       │ 2010-01-04 20:25:15 │ 2010-01-04 20:46:17 │ … │       4.06 │          0.0 │        24.36 │
│ VTS       │ 2010-01-07 17:57:00 │ 2010-01-07 18:07:00 │ … │        0.0 │          0.0 │          9.6 │
│ VTS       │ 2010-01-08 00:08:00 │ 2010-01-08 00:22:00 │ … │        1.5 │          0.0 │         12.6 │
│ CMT       │ 2010-01-31 20:36:38 │ 2010-01-31 20:58:12 │ … │        3.0 │          0.0 │         21.7 │
│ CMT       │ 2010-01-16 11:03:42 │ 2010-01-16 11:14:46 │ … │        0.0 │          0.0 │          9.0 │
│ CMT       │ 2010-01-05 08:56:30 │ 2010-01-05 09:04:29 │ … │        0.0 │          0.0 │          6.6 │
│ CMT       │ 2010-01-08 08:40:48 │ 2010-01-08 09:04:44 │ … │        2.0 │          0.0 │         21.8 │
│ CMT       │ 2010-01-08 07:06:21 │ 2010-01-08 07:13:34 │ … │        0.0 │          0.0 │          7.0 │
│ VTS       │ 2010-01-09 03:09:00 │ 2010-01-09 03:18:00 │ … │        0.0 │          0.0 │         10.7 │
├───────────┴─────────────────────┴─────────────────────┴───┴────────────┴──────────────┴──────────────┤
│ ? rows (>9999 rows, 20 shown)                                                   18 columns (6 shown) │
└──────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [16]:
out = dw.Database(
    rel1 = 'data/yellow_tripdata_2010-01.parquet',
    # rel1 = 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2010-01.parquet',
    rel2 = 'data/yellow_tripdata_2010-02.parquet',
)

In [17]:
out

Database:
    rel1: 'data/yellow_tripdata_2010-01.parquet'
    rel2: 'data/yellow_tripdata_2010-02.parquet'

In [18]:
out['rel1']

'data/yellow_tripdata_2010-01.parquet'

In [19]:
out2 = out >> 'pandas'

In [20]:
out2

Database:
    rel1: 14863778 x ['vendor_id', 'pickup_datetime', 'dropoff_datetime', 'passenger_count', 'trip_distance', 'pickup_longitude', 'pickup_latitude', 'rate_code', 'store_and_fwd_flag', 'dropoff_longitude', 'dropoff_latitude', 'payment_type', 'fare_amount', 'surcharge', 'mta_tax', 'tip_amount', 'tolls_amount', 'total_amount']
    rel2: 11145409 x ['vendor_id', 'pickup_datetime', 'dropoff_datetime', 'passenger_count', 'trip_distance', 'pickup_longitude', 'pickup_latitude', 'rate_code', 'store_and_fwd_flag', 'dropoff_longitude', 'dropoff_latitude', 'payment_type', 'fare_amount', 'surcharge', 'mta_tax', 'tip_amount', 'tolls_amount', 'total_amount', '__index_level_0__']

In [24]:
out2['rel1']

         vendor_id      pickup_datetime     dropoff_datetime  passenger_count  trip_distance  pickup_longitude  pickup_latitude rate_code store_and_fwd_flag  dropoff_longitude  dropoff_latitude payment_type  fare_amount  surcharge  mta_tax  tip_amount  tolls_amount  total_amount
0              VTS  2010-01-26 07:41:00  2010-01-26 07:45:00                1           0.75        -73.956778        40.767750         1               None         -73.965957         40.765232          CAS          4.5        0.0      0.5        0.00           0.0          5.00
1              DDS  2010-01-30 23:31:00  2010-01-30 23:46:12                1           5.90        -73.996118        40.763932         1               None         -73.981512         40.741193          CAS         15.3        0.5      0.5        0.00           0.0         16.30
2              DDS  2010-01-18 20:22:20  2010-01-18 20:38:12                1           4.00        -73.979673        40.783790         1               None         -73.917852         40.878560          CAS         11.7        0.5      0.5        0.00           0.0         12.70
3              VTS  2010-01-09 01:18:00  2010-01-09 01:35:00                2           4.70        -73.977922        40.763997         1               None         -73.923908         40.759725          CAS         13.3        0.5      0.5        0.00           0.0         14.30
4              CMT  2010-01-18 19:10:14  2010-01-18 19:17:07                1           0.60        -73.990924        40.734682         1                  0         -73.995511         40.739088          Cre          5.3        0.0      0.5        0.87           0.0          6.67
...            ...                  ...                  ...              ...            ...               ...              ...       ...                ...                ...               ...          ...          ...        ...      ...         ...           ...           ...
14863773       CMT  2010-01-06 14:51:19  2010-01-06 15:02:59                2           1.50        -73.970436        40.757928         1                  0         -73.957113         40.764094          Cas          7.7        0.0      0.5        0.00           0.0          8.20
14863774       VTS  2010-01-09 12:52:00  2010-01-09 13:15:00                1          16.77        -73.784115        40.648632         1               None         -73.974673         40.750805          CAS         45.0        0.0      0.5        0.00           0.0         45.50
14863775       CMT  2010-01-09 14:00:44  2010-01-09 14:14:33                1           0.90        -74.002170        40.721619         1                  0         -73.988528         40.721484          Cas          8.1        0.0      0.5        0.00           0.0          8.60
14863776       CMT  2010-01-09 09:52:23  2010-01-09 09:59:41                1           2.00        -73.980066        40.770469         1                  0         -73.958075         40.783242          Cas          7.3        0.0      0.5        0.00           0.0          7.80
14863777       CMT  2010-01-05 15:25:59  2010-01-05 15:33:54                1           1.00        -73.979463        40.739982         1                  0         -73.994477         40.739006          Cas          6.1        0.0      0.5        0.00           0.0          6.60

[14863778 rows x 18 columns]